body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  ;
  color: rgba(0, 0, 0, 0.88);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.showOnMobile {
  display: none;
}

.headerWrapper {
  width: 100vw;
  padding: 10px;
  border-bottom: 1px solid #f9f9f9;
  display: flex;
  align-items: center;
  gap: 10px;
}

.drawerContentWrapper {
  width: 100%;
  background: #f5f5f5;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.appWrapper {
  padding: 24px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appFieldWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.listItemWrapper {
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .showOnMobile {
    display: block;
  }

  .hideOnMobile {
    display: none;
  }
}